// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.groups {
  table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    th,td {
      padding: 3px 10px;
      border: 1px solid black;
    }
    th {
      font-size: 13px;
    }
    td {
      font-size: 12px;
    }
  }
  .form {
    text-align: center;
  }
}
